h1{
  margin-left:  100px;
  color: orange;
  height: 50px;
  margin-left: 200px

}
h2{
  color: grey;
  margin-left: 100px;
  margin-left: 200px
}

.dif-img{
  height: 500px;
  width: 600px;
  margin-left: 200px;

}

p{
font: italic 1.2em "Fira Sans", serif;
margin-left: 200px
}
.logo-img{

  height: 150px;
  position: fixed;
  
  margin-right: 1000px

}
